<div class="padding2">
    <mat-card class="fixed-card">
        <div class="section-navigation">
            <h2>Compliance Questionnaire</h2>
            <button *ngFor="let section of sections" (click)="selectSection(section)"
                [class.active]="selectedSection === section" [disabled]="!hasQuestions(section)">
                {{ section }}
                <span *ngIf="selectedSection === section">{{ Section_Name }}</span>
            </button>
        </div>
    </mat-card>

    <div class="questions-container" fxLayoutGap="2%">
        <h2>Section {{ selectedSection }} : {{ Section_Name }}</h2>
        <mat-divider></mat-divider>
        <div>
            <div *ngFor="let question of questions" class="question-item">
                <div>{{ question.Question_NO }}. {{ question.PrimaryQuestion?.Question }}</div>
                <div *ngIf="!showDetails">
                    <mat-radio-group [(ngModel)]="question.PrimaryQuestion.DocumentUpload">
                        <mat-radio-button [value]="true">Yes</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                    </mat-radio-group>
                    <div *ngIf="question.PrimaryQuestion.DocumentUpload">
                        <div class="uploadFileClass">
                            <label for="fileInput_{{ question.Question_NO }}">
                                <button id="Announcement_Button_UploadFile" class="UploadButton" (click)="triggerFileUpload(question.Question_NO)">
                                    Upload File
                                    <mat-icon>upload</mat-icon>
                                </button>
                                <button class="UploadButton" *ngIf="isLogging">
                                    <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
                                </button>
                                <input type="file" #fileInput id="fileInput_{{ question.Question_NO }}"
                                    (change)="handleFile($event,question)" style="display: none;">
                            </label>
                            <div>
                                <span *ngIf="question.PrimaryQuestion" class="file-name">
                                    {{ question.uploadedFile?.name }}
                                </span>
                            </div>
                        </div>
                        <ol class="alphabet-list">
                            <li *ngFor="let restQuestion of question.RestQuestion">
                                <div>{{ restQuestion.Question }}</div>
                                <textarea [(ngModel)]="restQuestion.Answer"
                                    placeholder="Share your response here..."></textarea>
                            </li>
                        </ol>
                    </div>
                </div>

                <div *ngIf="showDetails" class="evaluation-container">
                    <div *ngIf="getEvaluationsForPDF(question.Question_NO) as evaluations">
                        <div *ngFor="let evaluation of evaluations" class="evaluation-summary">
                            <div fxLayout="row" fxLayoutAlign="start center" >
                                <div class="classification-container">
                                    <span class="classification-badge" [ngClass]="{
                                    'incomplete': evaluation.DocumentEvaluation.Classification === 'No Policy Uploaded',
                                    'complete': evaluation.DocumentEvaluation.Classification !== 'No Policy Uploaded'
                                  }">
                                        {{ evaluation.DocumentEvaluation.Classification === 'No Policy Uploaded' ?
                                        'Incomplete' : 'Complete' }}
                                    </span>
                                </div>

                                <span class="divider">|</span>

                                <div class="score-section">
                                    <span>Score: {{ evaluation.DocumentEvaluation.Score }}</span>
                                </div>

                                <span class="divider">|</span>

                                <div class="compliance-section">
                                    <span>
                                        {{
                                        evaluation.DocumentEvaluation.Classification === 'No Policy Uploaded' ||
                                        evaluation.DocumentEvaluation.Score < 3 ? 'Not Compliant' : 'Compliant' }}
                                            </span>
                                </div>

                                <span class="divider">|</span>

                                <div>
                                    <div>
                                        {{ evaluation.DocumentEvaluation.Correctness }}
                                    </div>
                                </div>
                            </div>

                            <!-- Reasoning Section -->
                            <div *ngIf="evaluation.DocumentEvaluation.Reasoning" class="reasoning-container"
                                fxLayout="row">
                                <div style="color: red; font-weight: 400;">Reason:</div>
                                <div>{{ evaluation.DocumentEvaluation.Reasoning }}</div>
                            </div>
                        </div>
                    </div>

                    <div *ngFor="let data of getEvaluationsForQuestion(question.Question_NO)" class="evaluation-card">
                        <div>
                            {{ extractQuestionLetter(data.Subquestion_No) }}.
                            {{ data.Question }}
                        </div>
                        <div fxLayout="row">
                            <div style="font-weight: 500;">Answer:</div>
                            <div> {{ data.Answer || 'No answer provided' }}</div>
                        </div>
                        <div class="result" *ngIf="data.Answer">
                            <div style="font-weight: 500;">
                                Score: {{ data.EvaluationResult.Score }}
                            </div>
                            <div fxLayout="row">
                                <div style="color: red; font-weight: 400;">
                                    Reasoning:
                                </div>
                                <div>
                                    {{ data.EvaluationResult.Reasoning }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div fxLayoutGap="2%" fxLayoutAlign="start stretch">
            <div fxFlex="95%">
                <button class="buttonCls" fxFlex="20%" (click)="onSave()">Save</button>
            </div>
            <div class="navigation-buttons" fxLayoutAlign="end end" fxLayoutGap="5%">
                <button class="buttonCls" (click)="goToBackSection()" [disabled]="!canGoBack()">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                <button class="buttonCls" (click)="goToNextSection()" [disabled]="!canGoNext()">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Popup Template -->
<div class="popup-overlay" *ngIf="!showPopup">
    <div class="popup-content">
        <h2>Save Confirmation</h2>
        <p>Your answers have been submitted successfully!</p>
    </div>
</div>